# MongoDB
MONGO_URI="placeholder_mongodb_uri"

# Auth0
AUTH0_CLIENT_SECRET="placeholder_auth0_client_secret"
AUTH0_CLIENT_ID="placeholder_auth0_client_id"
AUTH0_POST_LOGOUT_REDIRECT_URI="http//localhost:3000"
AUTH0_REDIRECT_URI="http//localhost:3000/api/auth/callback"
AUTH0_BASE_URL="http://localhost:3000"
AUTH0_ISSUER_BASE_URL="placeholder_auth0_issuer_base_url"
AUTH0_SECRET="placeholder_auth0_secret"

# Cloudinary
NEXT_PUBLIC_CLOUD_NAME="placeholder_cloudinary_cloud_name"
NEXT_PUBLIC_API_KEY="placeholder_cloudinary_api_key"
NEXT_PUBLIC_CLOUD_API_SECRET="placeholder_cloudinary_api_secret"

# Stripe
STRIPE_TEST_MODE=false
STRIPE_TEST_SECRET_KEY="placeholder_stripe_test_secret_key"    
STRIPE_TEST_WEBHOOK_SECRET="placeholder_stripe_test_webhook_secret"
STRIPE_TEST_PREMIUM_MONTHLY_PRICE_ID="placeholder_stripe_test_premium_monthly_price_id"
STRIPE_TEST_PREMIUM_ANNUAL_PRICE_ID="placeholder_stripe_test_premium_annual_price_id"

STRIPE_SECRET_KEY="placeholder_stripe_secret_key"
STRIPE_WEBHOOK_SECRET="placeholder_stripe_webhook_secret"
STRIPE_PREMIUM_MONTHLY_PRICE_ID="placeholder_stripe_premium_monthly_price_id"
STRIPE_PREMIUM_ANNUAL_PRICE_ID="placeholder_stripe_premium_annual_price_id"

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="placeholder_stripe_publishable_key"
NEXT_PUBLIC_STRIPE_TEST_PUBLISHABLE_KEY="placeholder_stripe_test_publishable_key"
