.left_content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.right_header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.add_tiles {
    width: auto;
    padding: 3px;
    background: #63899e;
    display: inline-block;
    box-sizing: border-box;
    line-height: 15px;
    border-radius: 5px;
    color: white;
}

.board_nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.vertical {
    border-left: 2px solid black;
    margin: 0px 15px 0px 20px;
    height: 24px;
}

.cross{
    position: absolute;
    top: 0px;
    right: 5px;
}
.dashboard_drag {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    overflow-x: hidden;
    max-width: 900px;
}
.scroll-buttons button{
    height: 47px;
    border: none;
    padding: 0;
    background: rgba(0,0,0,0.2);
    color: #fff
}

a.sign_btn {
    background: #63899e;
    color: #fff;
    border: 2px solid #63899e;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 15px;
}
a.login_btn{
    text-decoration: none;
    color: #63899e;
    font-weight: 600;
    margin-left: 10px;
}

a:focus {
    opacity: 0.5;
}

.logo{
    height : 35px;
    width : 165px;
}

.button_filled{
    background-color: #63899e;
    color: #fff
}
.button_cancel{
    color: #63899e;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: 0;
    color: #63899e;
}
/* production Profile menu */
.css-r8u8y9 {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    outline: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #63899e;
}

.email{
    padding: 0 15px;
}

.horizonLine{
    border-bottom: 1px solid black;
    margin : 15px 0px
}

.logout{
    padding: 0 15px;
}
.logout a{
    text-decoration: none;
    color: #63899e;
}

@media screen and (max-width : 600px) {
    .dashboard_drag {
        max-width : 500px
    }

}