.main_grid_container {
    display: inline-block;
    text-align: left;
    float: left;
    width: 99%;
    height: calc(100vh - 75px)
}
.add_tiles {
    width: auto;
    padding: 10px;
    background: #bbb;
    display: inline-block;
    box-sizing: border-box;
    line-height: 15px;
    border-radius: 5px;
    color: black;
    margin-left: 20px;
}
.tiles_container {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    min-height: 100px;
}
.tiles{
    width: 150px;
    height: 150px;
    background: pink;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-transform: capitalize;
}
.tiles_popup {
    width: 650px;
    background:  white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     color: black;
     padding: 20px;
     border-radius: 7px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     backdrop-filter: blur(10px);
}
.tiles_popup h3 {
    color: black;
    text-align: center;
}
.radiosets {
    display: inline-block;
    width: 47%;
    float: left;
    border-right: 1px solid #aaa;
    margin-right: 3%;
}
.radiosets:nth-child(3){
    border-right: 0 none;
    margin-right: 3%;
}
.radiosets .MuiButtonBase-root .MuiSvgIcon-root {
    color:  black;
}

.all_options {
    display: inline-block;
    width: 100%;
    padding: 30px 0;
    list-style: none;
}
.all_options ul {
    list-style: none;
    padding: 0;
}
.all_options ul li{
    padding-bottom: 20px;
}
.all_options ul li svg {
    font-size: 35px;
}
.all_options ul li input {
    display: block;
    height: 40px;
    margin-left: 21px;
    margin-top: 14px;
    width: 50%;
}
.height_width{
    display: flex;
    align-items: center
}

.all_options ul li .height_width input{
    width: 10%;
    margin: 10px;
}

.all_options ul li span {
    vertical-align: middle;
    padding-left: 15px;
    font-size: 18px;
    cursor: pointer;
}

.board_nav {
    width: '100Px';
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: 'flex-start';
    position: relative;
}

/* .innerTile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 5px;
} */

.showPodTileOptions {
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
  }

.podTilesImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.tileContainer{
    display: contents;
}

.cross{
    position: absolute;
    top: 0px;
    right: 5px;
}

.sketch-picker{
    height: 360px;
}
.flexbox-fix {
    margin-right: 17px;
}

a.login_btn {
    color: #000;
}
a.sign_btn {
    background: #45819e;
    color: #fff;
    margin-right: 5px;
    border: 2px solid #45818e;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}
.login a {
    margin-right: 5px;
    border: 2px solid #45818e;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}
.login a:focus {
    opacity: 0.5;
}

.dashboard_drag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.showOptions {
    display: none;
  }
  
.tile:hover .showOptions {
    display: flex;
}

.tile img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.text_overlay {
    position: absolute;
    padding: 5px;
}

.highlight_text {
    padding: 10px 15px;
    display: block;
}

/* text editor  fixed */
.sun-editor .se-list-layer.se-list-font-family {
    min-width: 156px;
    max-height: 260px;
}

.sun-editor .se-list-layer .se-selector-color .se-color-pallet li {
    padding: 0;
}

.all_options ul li .sun-editor span {
    padding: 0;
}

.all_options ul li .sun-editor .se-btn-select.se-btn-tool-font {
    width: 180px;
}