.information{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger
}

/* .information h2 {
    color: #63899e;
} */
.section-heading{
    color: #63899e;
}
.wlcm-boardzyContant-listStyle{
    list-style: none;
    font-size: x-large;
}
.wlcm_boardzy {
    /* background-image: url('../../assets/infoBoardzy.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 570px;
    font-size: 30px;
    padding: 50px;
    color: #fff;
    background-color: #63899e;
}

.boardzy_logo {
    display: flex;
    justify-content: end;
}

.boardzy_logo img {
    color: transparent;
    width: 250px;
    height: 60px;
    cursor: pointer;
}

.wlcm_boardzy h2{
    color: #fff;
    margin-top: 0;
}

.about_boardzy{
    display: flex;
    padding: 110px 50px 0px;
    gap:8rem;
}
.board_image {
    background-image: url('../../assets/What\ is\ Boardzy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 360px;
    width: 87%;
    /* flex-grow: 1; */
}
.about_boardzyContant{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    /* background: lavender; */
    /* padding: 50px; */
}

.use_boardzy{
    display: flex;
    padding: 110px 50px 0px;
    gap: 7rem;
}
.use_image {
    background-image: url("../../assets/How\ to\ use\ Boardzy.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 360px;
    width: 40%;
}
.use_boardzyContant {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    /* background: aliceblue; */
    /* padding: 0px 50px; */
}
.use_boardzyContant h2{
    margin-bottom: 0px;
}
.use_boardzyContant p{
    margin-bottom: 0px;
}
.use_boardzyContant ol{
    font-size: small;
}
.checkout_templates {
    display: flex;
    padding: 110px 50px 0px;
    gap:7rem;
    justify-content: space-around;
}

.checkout_templatesContant {
    display: flex;
    align-items: end;
    flex-direction: column;
    padding: 50px;
    text-align: right;
}

.checkout_templatesLink{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
}
.checkout-template-image {
    background-image: url('../../assets/Browse\ Boards.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 360px;
    width: 40%;
}

.checkout_templates li a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
} 

.contact_us {
    padding: 50px;
    background-color: #63899e;
    color: #fff;
    text-align: center;
}

.dashboard_Life{
    padding: 110px 50px;
    text-align: right;
    /* background: seashell; */
    display: flex;
    gap:8rem
}
.dashboard-image {
    background-image: url("../../assets/dasbhoard\ your\ life.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 360px;
    width: 40%;
    /* flex-grow: 1; */
}
.dashboard_LifeContant{
    
        padding: 50px 0px;
        display: flex;
        flex-direction: column;
        text-align: left;
    
}
.newsletter-title {
    font-size: x-large;
    font-weight: 500;
}
.newsletter-subHeading {
    font-size: small;
    margin: 10px 0px;
}
.newsletter-button {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    color: white;
    text-decoration: underline;
    font-size: medium;
}
.newsletter-closeIcon{
    text-align: right;
    cursor: pointer;
}
.newsletter-input-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: none;
}
.newsletter-input-field:focus{
    outline:none;
}
.css-ypiqx9-MuiDialogContent-root{
    width: 450px;
    background: #E8E8E8;
}
.subscribe-button:hover{
    background: white;
    color:#63899e;
}
@media screen and (max-width: 600px)  {
    .wlcm_boardzy {
        height: 390px;
        font-size: 17px;
        padding: 20px;
    }

    .wlcm-boardzyContant-listStyle{
        font-size: medium;
        padding-left: 10px;
    }

    .boardzy_logo img {
        color: transparent;
        width: 150px;
        height: 38px;
        cursor: pointer;
    }
    .wlcm_boardzy h2{
        /* color: #fff; */
        margin-top: 21px;
    }
    

    .use_image {
        /* background-image: url(/_next/static/media/decorativeWall.5f04cc11.jpg); */
        height: 220px;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .board_image {
        width: 100%;
        height: 220px;
        background-size: cover;
        background-position: center;
    }
    .about_boardzy{
        gap:0rem;
        flex-direction: column;
        padding: 30px 30px 0px;
    }
    .about_boardzyContant{
        padding: 20px;
        text-align: left;
    }
    .use_boardzy{
        flex-direction: column-reverse;
        padding: 30px 30px 0px;
        gap:0rem;

    }
    .checkout_templates{
        flex-direction: column;
        padding: 30px 30px 0px;
        gap:0rem
    }
    .checkout-template-image{
        width: 100%;
        height: 220px;
    }
    .dashboard-image {
        width: 100%;
        height: 220px;
        background-size: cover;
        background-position: center;
    }
    .dashboard_Life{
        flex-direction: column-reverse;
        padding: 30px 30px 30px;
        gap:0rem
    }
    .use_boardzyContant{
        padding: 10px;
    }
    .checkout_templatesContant{
        padding: 20px;
        align-items: center;
        text-align: left;
    }
    .checkout_templatesLink{
        padding-left: 0px;
    }
    .dashboard_LifeContant{
        padding: 20px;

    }
    .section-heading{
        font-size: x-large;
        margin-bottom: auto;
        text-align: center;
    }
    .contact_us{
      padding: 35px;
      font-size: medium;  
    }
}

